<html>
  <head>
    <link rel="stylesheet" href="/css/footer.css" />
    <body>
      <div class="footer-main">
        <div>&COPY; CODEIAL</div>
        <div>All rights reserved</div>
      </div>
    </body>
  </head>
</html>
