<html>
  <head>
    <title><%= user.name %> - Profile</title>
    <link rel="stylesheet" href="/css/profile.css" />

    <body>
      <h1>About</h1>
      <h3>Name : <%= user.name %></h3>
      <h4>Email : <%= user.email %></h4>

      <a href="/user/signout/">
        <button id="signout">Sign Out</button>
      </a>
    </body>
  </head>
</html>
