<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/signin.css" />

    <body style="font-family: calibri">
      <h2>Sign-In Page</h2>
      <form action="/user/session" method="post">
        Email :
        <input
          type="text"
          name="email"
          required
          placeholder="Email"
          style="margin-left: 26px; padding: 4px"
          ;
        />
        <br />
        Password :
        <input
          type="text"
          name="password"
          required
          placeholder="Password"
          style="padding: 4px"
        /><br />
        <button type="submit">Sign In</button>
      </form>

      <a href="/user/signup/">
        <button id="signup">Sign Up</button>
      </a>
    </body>
  </head>
</html>
