.nav-main {
  a {
    text-decoration: none;
    color: initial;
    font-family: calibri;
  }

  display: flex;
  position: relative;
  // justify-content: center;
  align-items: center;
  background-color: silver;
  height: 50px;
  width: 100%;
  #logo {
    img {
      height: 100%;
      width: 62px;
    }
  }
  #logo-text {
    margin-left: 12px;
    a {
      font-family: "Rubik Moonrocks", Calibri;
      font-size: 30px;
    }
  }
  #showUser {
    position: absolute;
    right: 5;
    padding-left: 4px;
  }
}
