body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

button {
  cursor: pointer;
  box-sizing: border-box;
  width: 150px;
}

button:hover {
  background-color: #2185d0;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  width: 170px;
}

.profile-signup {
  padding: 10px 15px;
}

#signin {
  padding: 10px 15px;
}
