body button {
  cursor: pointer;
  box-sizing: border-box;
  width: 150px;
}

body button:hover {
  background-color: #2185d0;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  width: 170px;
}

body #older-posts {
  margin-top: 4px;
}

body #older-posts .user {
  padding: 8px 4px;
  margin-top: 20px;
}

body #older-posts .user .user-name {
  font-family: calibri;
  font-size: 15px;
}

body #older-posts .user .user-name b {
  font-size: 20px;
}

body #older-posts .user .user-post {
  font-family: calibri;
  font-weight: 400;
  font-size: 14px;
}

.profile-signup {
  padding: 10px 15px;
}

#signin {
  padding: 10px 15px;
}
