body {
  font-family: Calibri, "Trebuchet MS", sans-serif;
}

body .name-email {
  margin-left: 25px;
  padding: 5px;
}

body button {
  cursor: pointer;
}

body form button {
  margin-left: 74px;
  padding: 5px;
}

body #signin {
  position: absolute;
  right: 0;
  top: 58px;
  padding: 10px 15px;
  box-sizing: border-box;
  width: 150px;
}

body #signin:hover {
  background-color: #2185d0;
  color: white;
  border: 1px solid white;
  border-radius: 2px;
  width: 170px;
}
